
<div ng-controller="View1Ctrl as vm">
    <center>
        <form class="container-material">
            <md-input-container>
                <label><i class="material-icons">title</i> Titre du projet</label>
                <input type="text" ng-model="vm.newProject.title">
            </md-input-container>
            <md-input-container>
                <label><i class="material-icons">add_a_photo</i> Image de présentation</label>
                <input type="text" ng-model="vm.newProject.image">
            </md-input-container>
            <md-input-container>
                <label><i class="material-icons">textsms</i> Contenu du projet</label>
                <input type="text" ng-model="vm.newProject.content">
            </md-input-container>
            <md-button class="md-primary" ng-click="vm.postNewProject()">Poster le projet</md-button>
            <div ng-show="vm.showFormError===true">Tout les champs sont requis pour ajouter un projet.</div>
        </form>

        <div class="container">
            <div ng-repeat="project in vm.projectList">
                <md-card ng-click="vm.editProject(project)">
                    <img ng-src="{{project.image}}" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{project.title}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            {{project.content}}
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row">
                        <md-button ng-click="vm.deleteProject(project)" class="md-icon-button"
                                   aria-label="Supprimer le projet">
                           Supprimer le projet
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>

    </center>
</div>